*{
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}
a, a:link, a:visited{
    text-decoration: none;
    color: #000;
}
a:hover, a:active{
    text-decoration: none;
}
/*clearfix*/
.clearfix:before,.clearfix:after{
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
#logo-text, #logo-img {
    cursor: pointer;
}
/*标题字体*/
@font-face {
    font-family: 'ela_sans_light_capsregular';
    src: url('../fonts/ela_sans_light_caps_pdf-webfont.eot');
    src: url('../fonts/ela_sans_light_caps_pdf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ela_sans_light_caps_pdf-webfont.woff2') format('woff2'),
         url('../fonts/ela_sans_light_caps_pdf-webfont.woff') format('woff'),
         url('../fonts/ela_sans_light_caps_pdf-webfont.ttf') format('truetype'),
         url('../fonts/ela_sans_light_caps_pdf-webfont.svg#ela_sans_light_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
#header{
    width: 100%;
    position: relative;
    z-index: 97;
}
#top-banner{
    height: 66px;
    background-color: #0d285b;
    overflow: hidden;
    width: 100%;
}
#top-banner .wrapper{
    height:100%;
    margin:0 auto;
    /*width: 80%;*/
    max-width:1024px;
    width:expression(document.body.clientWidth>1023?"1024px":"auto");
}
#logo-img{
    display: block;
    margin: 6px 0;
    height:54px;
    float: left;
}
#logo-text{
    color:#FFF;
    font-size: 40px;
    line-height: 66px;
    font-family: 'ela_sans_light_capsregular';
}
#search-box{
    float: right;
}

#news-1{
    margin: 0 auto;
    /*width: 80%;*/
    max-width: 1024px;
    width:expression(document.body.clientWidth>1023?"1024px":"auto");
}
/*第三列*/
.three-same-height-3{
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
}
/*第二列*/
.three-same-height-2{
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:33.333%;
    border-right: 2px solid #2968b8;
}
/*第一列*/
.three-same-height-1{
	float:left;
	width:100%;
	position:relative;
	right:33.33%;
    border-right: 2px solid #2968b8;
}
.tsh-inner-1{
    float:left;
    width:29.33%;
    position:relative;
    left:68.67%;
    overflow:hidden;
}
.tsh-inner-2{
    float:left;
    width:29.33%;
    position:relative;
    left:72.67%;
    overflow:hidden;
}
.tsh-inner-3{
    float:left;
    width:29.33%;
    position:relative;
    left:76.67%;
    overflow:hidden;
}
.panel-top{
    margin: 8px 20px 8px 8px;
}
.panel-top  .title{
    border-bottom: 3px solid #b82995;
    font-size: 18px;
    color: #b82995;
}
.panel-top  .more{
     float: right;
     font-size: 14px;
     font-weight: bold;
     line-height: 18px;
}
.panel-top .more a{
    color: #a0224e;
}
.panel-top .more a:hover{
    color: #a0224e;
    text-decoration: underline;
}
.news-block{
    margin-left: 70px;
    margin-right: 10px;
}
.news-block h3 {
    margin-bottom: 10px;
}
.news-block .time{
    float: left;
    background: #c1d3f7;
    margin-left: -70px;
    padding: 3px;
    position: relative;//ie6 消失 hack
    zoom: 1;//ie6 hack
}
.news-block .time .ym{
    color: #274989;
    font-weight: bold;
    font-size: 0.9em;
}
.news-block .time .day{
    font-size: 2em;
    color: #FFF;
    line-height: 40px;
    text-align: center;
}
.news-block .text{
    /*float: left;*/
}
.news-block .text h3{
    color: #294986;
    font-weight: bold;
    font-size: 14px;
}
.news-block .text p{
    color: gray;
    font-size: 14px;
    text-decoration: none;
}
.news-block .text a:hover h3{
    text-decoration: underline;
}
.news-block .text a:hover p{
    text-decoration: none;
}
.news-pic-block{
     height: auto;
     overflow: hidden;
     width: 100%;
     margin: 10px auto;
    max-width: 1024px;
    width:expression(document.body.clientWidth>1023?"1024px":"auto");
}
.news-list-block{
    width: auto;
    overflow: hidden;
}
.news-list{
    padding: 4px 10px;
}
.news-list table{
    table-layout: fixed;
    color: #2a4987;
    width: 100%;
}
.news-list .news-title{
    font-size: 14px;
    line-height: 28px;
}
.news-list .news-title a{
    color: #2a4987;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}
.news-list .news-title a:hover{
    color: #2a4987;
    text-decoration: underline;
}
.news-list .time{
    width: 90px;
    font-size: 14px;
    text-align: center;
}
.pic-link{
     float: right;
     width:300px;
     padding-right: 6px;
}
.pic-link div{
    font-size: 18px;
    line-height: 26px;
    border-bottom: 3px solid #b82995;
    color: #b82995;
    margin-bottom: 4px;
    margin-top: 10px;
}
.pic-link img{
    display: block;
    width: 100%;
}
#footer{
    padding:30px 0;
    background-color: #99a3bc;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color:#FFF;
}
#footer p, #footer a{
    /*font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;*/
}
#footer a{
    color: #FFF;
}
#footer a:hover{
    text-decoration: underline;
}
